@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "IstokWeb";
	src: url("/fonts/istokWeb/IstokWeb-Regular.woff2") format("woff2"),
		url("/fonts/istokWeb/IstokWeb-Regular.woff") format("woff"),
		url("/fonts/istokWeb/IstokWeb-Regular.ttf") format("truetype");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "OpenSans";
	src: url("/fonts/openSans/OpenSans-Light.woff2") format("woff2"),
		url("/fonts/openSans/OpenSans-Light.woff") format("woff"),
		url("/fonts/openSans/OpenSans-Light.ttf") format("truetype");
	font-display: swap;
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "OpenSans";
	src: url("/fonts/openSans/OpenSans-Regular.woff2") format("woff2"),
		url("/fonts/openSans/OpenSans-Regular.woff") format("woff"),
		url("/fonts/openSans/OpenSans-Regular.ttf") format("truetype");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

html {
	@apply scroll-smooth bg-secondary text-white tracking-wide;
}

#app {
	@apply font-main py-14 px-5;
}
